html {
    min-height: 100%;
    position: relative;
}

#header {
    color: white;
    background-color: #444444;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
	padding-left: 50px;
	padding-right: 50px;
}

#upper {
    margin: 0px auto;
    text-align: center;
}

#upper-context {
    font-size: 30px;
    margin-bottom: 15px;
}

#url,
#search-text {
    height: 45px;
    width: 725px;
    font-size: 30px;
    margin-top: 5px;
}

.buttonload {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 30px;
}


/* Add a right margin to each icon */

.fa {
    margin-left: -12px;
    margin-right: 8px;
}

#download-youtube-button,
#search-button {
    font-size: 25px;
}

#error-message {
    margin: 0px auto;
    width: 865px;
    text-align: left;
    font-size: 20px;
}

#video-information {
    background-color: white;
    height: 158px;
    width: 900px;
    margin: 20px auto;
    display: none;
}

#video-information-left {
    display: inline-block;
    height: 144px;
    padding: 6px;
}

#video-information-right {
    display: inline-block;
    vertical-align: top;
    height: 144px;
    padding: 6px;
    font-size: 20px;
    width: 597px;
    word-break: break-all;
}

#video-progressbar {
    border: 1px black solid;
    width: 517px;
}

#video-progress,
#mp3cut-progress,
#mp4cut-progress {
    width: 0%;
    height: 10px;
    background-color: green;
}

/*#tutorial {
    font-size: 25px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 25px;
}*/

#middle {
    margin: 0px auto;
    margin-bottom: 15px;
}

#video {
    margin: 10px auto;
}

#bottom {
    color: white;
    background-color: #444444;
    font-size: 18px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
    bottom: 0;
    width: 100%;
}

#cut {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    display: none;
}

#start-minute,
#start-second,
#end-minute,
#end-second {
    width: 100px;
    height: 35px;
    font-size: 25px;
    text-align: right;
}

#mp3cut-button,
#mp4cut-button {
    margin-top: 10px;
    font-size: 25px;
}

#mp3cut,
#mp4cut {
    margin: 15px auto;
    font-size: 25px;
    display: none;
}

#mp3cut-progressbar,
#mp4cut-progressbar {
    border: 1px black solid;
    width: 220px;
    margin: 10px auto;
}

#mp3cut-download-link,
#mp4cut-download-link {
    font-size: 24px;
    display: none;
}

#search{
	margin-bottom: 170px;
}

body{
	margin: 0;
	background-color: #dcdcdc;
}
@media(max-width: 940px){
	#header{
		font-size: 30px;
	}
	#url, #search-text{
		width: 70%;
	}
	#video-information {
		width: 95%;
	}
	#video-information-right {
		width: 60%;
		font-size: 18px;
	}
	#video-progressbar{
		width: 95%;
	}
}
@media(max-width: 775px){
	img{
		width: 200px;
		height: auto;
	}
	#video-information {
		height: 125px;
	}
	#video-information-right {
		width: 60%;
		font-size: 15px;
	}
	video{
		width: 95%;
		height: auto;
	}
}
@media(max-width: 630px){
	#url, #search-text{
		width: 95%;
		height: 35px;
		font-size: 25px;
	}
	.buttonload{
		margin: 10px;
	}
	img{
		width:150px;
		height:auto;
	}
	#video-information{
		height: 100px;
	}
	#video-information-right {
		font-size: 12px;
		width: 60%;
	}
}
@media(max-width: 544px){
	#header{
		text-align: center;
		font-size: 25px;
	}
}
#title{
	font-size: 50px;
}
@media(max-width: 500px){
	#header{
		font-size: 19px;
		line-height: 50px;
		height: 50px;
	}
	#title{
		font-size: 35px;
	}
	#upper-context{
		font-size: 20px;
	}
	#video-information-right {
		font-size: 12px;
		width: 55%;
	}
	#bottom{
		font-size: 14px;
	}

	img{
		width: 100%;
	}
	#video-information{
		width: 95%;
		height: auto;
	}
	#video-information-left{
		display: block;
		margin: 0 auto;
		height: auto;
	}
	#video-information-right {
		display: block;
		height: auto;
		width: auto;
		font-size: 15px;
	}
}
@media(max-width: 460px){
	#url, #search-text{
		height: 30px;
		font-size: 18px;
	}
}
@media(max-width: 393px){
	#header{
		font-size: 18px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
